# To install packages which were relased more than 7 days ago, set the minimum release age to 7 days
min-release-age=7

# Disable install scripts
ignore-scripts=true

# Block git dependencies
allow-git=none